body {
    background-image: url("../img/nate-grant-QQ9LainS6tI-unsplash.jpg");
    background-color: rgb(51,51,51);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-link {
    padding: .5rem;
    margin: .5rem;
}